#layout {
    display: table;
    clear: both;
    content: "";
    background: #11111b;
    color: #cdd6f4;
}
#menu {
    height:100%;
    padding: 10px;
    position: sticky;
    top: 0;
    background: #181825;
    float: left;
    text-align: left;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#text_principal {
    width: 80%;
    float: left;
    text-align: justify;
    padding: 10px;
}

