.div_1{
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(75,72,71);
}


.div_2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 249px;
    background-color: rgb(44,43,41);
}

.div_img{
    border: 5px solid rgb(78,120,55);
    background-color:rgb(105,146,62);
}

img{
    width: 200px;
}



a{
    color:aqua;
}

.a_bandeau{
    color: white;
    font-family: "JetBrainsMono-Regular.ttf";
}