.div_1{
    height: 600px;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid rgb(105,146,62);
    background-color: rgb(75,72,71);
}


.div_2{
    height: 600px;
    width: 750px;
    position: absolute;
    top: 0px;
    left: 259px;
    border: 5px solid rgb(78,120,55);
    background-color: rgb(44,43,41);
}



#p{
    font-style: italic;
    color: rgb(205, 18, 189);
}

a{
    color:aqua;
}