.tabl_horaire {
    color: var(--var_text);
    fill-rule: unset;

    margin-left: 35px;
    margin-top: 10px; 
    margin-bottom: 10px;

    border: 5px solid var(--var_complement);
    border-radius: 10px;
}

.case_rempli {
    background-color: var(--surface-1);
    border-radius: 5px;
}

.club_pres {
    float: right;
}

.club_pres img {
    border-radius: 10px;
    height: 50px;
}

.club_vice-pres {
    float: left;
}

.club_vice-pres img {
    border-radius: 10px;
    height: 50px;
}

.club_co-vice-pres {
    float: right;
}

.club_co-vice-pres img {
    border-radius: 10px;
    height: 50px;
}