.menu{
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    /*margin-right: 10px;*/
    border: 5px solid rgb(105,146,62);
    background-color: rgb(75,72,71);
    /*font-family: BigBlue, monospace;*/

}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.menu li {
    font-size: 25px;

}

.menu a{
    display: block;
    text-decoration: none;
    color:#cdd6f4;
    padding: 10px 15px 10px 10px;
}
.menu a:hover{
    background: #313244;
}

.div_img{
    border: 5px solid rgb(77, 119, 55);
    background-color: rgb(104, 145, 62);
    margin-bottom: 10px;
}
.div_img a{
    display: block;
    text-decoration: none;
    color:#cdd6f4;
    padding: 0;
}
.div_img a:hover{
    background-color: rgb(104, 145, 62);
}