.div_1{
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(75,72,71);
}






img{
    width: 200px;
}



a{
    color:aqua;
}

.a_bandeau{
    color: white;
    font-family: "JetBrainsMono-Regular.ttf";
}