
.text{
    /*height: 100%;*/
    /*width: 100%;*/
    top: 0;
    left: 259px;
    margin-left: 250px;
    padding-left: 10px;
    border: 5px solid rgb(78,120,55);
    background-color: rgb(44,43,41);
    text-align: justify;

}


