
.text{
    /*height: 100%;*/
    /*width: 100%;*/
    position: absolute;
    top: 0;
    margin-left: 250px;
    margin-top: 0;
    border: 5px solid rgb(78,120,55);
    background-color: rgb(44,43,41);
    text-align: justify;
    padding: 20px;
    color: #cdd6f4;
}


