:root {
    --vartest: red;
}
.dark-theme{
    --vartest: blue;
}
.light_theme{
    --vartest: 3;
}

@font-face {
    font-family: DepartureMono;
    src: url("fonts/DepartureMonoNerdFont-Regular.otf");
}
@font-face {
    font-family: BigBlue;
    src: url(fonts/BigBlueTermPlusNerdFont-Regular.ttf);
}

.text{
    /*height: 100%;*/
    /*width: 70%;*/
    position: absolute;
    top: 0;
    right: 0;
    left:259px;
    /*margin-left: 5px;*/
    margin: 0;
    border: 5px solid rgb(78,120,55);
    background-color: rgb(44,43,41);
    text-align: justify;
    padding: 20px;
    color: #cdd6f4;
}


