
.div_H2 {
    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 10px;
}

h1 {
    padding-left: 15px;
}

h2 {
    padding-left: 25px;
}

h3 {
    margin-left: 10px;
    margin-right: 30px;
    padding-left: 20px;
    padding: 5px;
    background-color: var(--surface-0);
    border-radius: 15px;
}

.p_p_info{
    padding: 15px;
}

p {
    padding: 25px;
}