
.div_H2 {
    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 10px;
}

.H1_title {
    padding-left: 15px;
}

.H2_subtitle {
    padding-left: 25px;
}

.H3_sub {
    margin-left: 10px;
    margin-right: 30px;
    padding-left: 20px;
    background-color: var(--surface-0);
    border-radius: 15px;
}

.p_p_info{
    padding: 15px;
}

.p_info {
    padding: 25px;
}